@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap");

:root {
  --pad-base: 1rem;
  --fr-base: 1fr;
  --pad-none: 0;
  --header-height: calc(var(--pad-base) * 3);

  --hue-color: 0;

  --primary-color: hsl(var(--hue-color), 69%, 61%);
  --secondary-color: hsl(var(--hue-color), 69%, 61%);
  --primary-alt-color: hsl(var(--hue-color), 57%, 53%);
  --primary-lighter-color: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-light-color: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  --body-font: "Poppins", sans-serif;

  --big-font-size: calc(var(--pad-base) * 2);
  --h1-font-size: calc(var(--pad-base) * 1.5);
  --h2-font-size: calc(var(--pad-base) * 1.25);
  --h3-font-size: calc(var(--pad-base) * 1.125);
  --normal-font-size: calc(var(--pad-base) * 0.938);
  --small-font-size: calc(var(--pad-base) * 0.813);
  --smaller-font-size: calc(var(--pad-base) * 0.75);

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: calc(var(--pad-base) * 0.25);
  --mb-0-5: calc(var(--pad-base) * 0.5);
  --mb-0-75: calc(var(--pad-base) * 0.75);
  --mb-1: var(--pad-base);
  --mb-1-5: calc(var(--pad-base) * 1.5);
  --mb-2: calc(var(--pad-base) * 2);
  --mb-2-5: calc(var(--pad-base) * 2.5);
  --mb-3: calc(var(--pad-base) * 3);

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --transitions: 0.3s;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: calc(var(--pad-base) * 3);
    --h1-font-size: calc(var(--pad-base) * 2.25);
    --h2-font-size: calc(var(--pad-base) * 1.5);
    --h3-font-size: calc(var(--pad-base) * 1.25);
    --normal-font-size: var(--pad-base);
    --small-font-size: calc(var(--pad-base) * 0.875);
    --smaller-font-size: calc(var(--pad-base) * 0.813);
  }
}

* {
  padding: var(--pad-none);
  margin: var(--pad-none);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--pad-none) var(--pad-none) var(--header-height) var(--pad-none);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: calc(var(--pad-base) * 2) var(--pad-none) calc(var(--pad-base) * 4);
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: calc(var(--pad-base) * 48);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: calc(var(--pad-base) * 1.5);
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.header__container {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__open {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  cursor: pointer;
  transition: var(--transitions);
}

.header__logo {
  transition: var(--transitions);
}

.header__logo:hover {
  color: var(--primary-color);
}

.header__open:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .header__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: calc(var(--pad-base) * 2) calc(var(--pad-base) * 1.5) calc(var(--pad-base) * 4);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: calc(var(--pad-base) * 1.5) calc(var(--pad-base) * 1.5) var(--pad-none) var(--pad-none);
    transition: var(--transitions);
  }
}

.header__items {
  grid-template-columns: repeat(3, var(--fr-base));
  gap: calc(var(--pad-base) * 2);
}

.header__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.header__link:hover {
  color: var(--primary-color);
}

.header__icon {
  font-size: var(--h2-font-size);
}

.header__close {
  position: absolute;
  right: calc(var(--pad-base) * 1.3);
  bottom: calc(var(--pad-base) * 0.5);
  font-size: calc(var(--pad-base) * 1.5);
  cursor: pointer;
  color: var(--primary-color);
}

.header__close:hover {
  color: var(--primary-alt-color);
}

.header__menu--active {
  bottom: 0;
}

.home__container {
  gap: var(--pad-base);
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: calc(var(--pad-base) * 3.5) ;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: var(--pad-base);
}

.home__social-icon {
  font-size: var(--h3-font-size);
  color: var(--primary-color);
}

.home__social-icon:hover {
  color: var(--primary-alt-color);
}

.home__blob {
  width: 200px;
  fill:var(--primary-color);
}

.home__blob-image {
  width: 170px;
}

.home__information {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scoll {
  display: none;
}

.home__scroll-button {
  color: var(--primary-color);
  transition: var(--transitions);
}

.home__scroll-button:hover {
  transform: translateY(calc(var(--pad-base) * 0.25));
}

.home__scroll-text {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-icon--arrow {
  font-size: calc(var(--pad-base) * 1.25);
}

.home__scroll-icon--mouse {
  font-size: calc(var(--pad-base) * 2);
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--container-color);
  padding: var(--pad-base);
  border-radius: calc(var(--pad-base) * 0.5);
  font-weight: var(--font-medium);
  transition: var(--transitions);
}

.button:hover {
  background-color: var(--primary-alt-color);
}

.button__icon {
  font-size: calc(var(--pad-base) * 1.25);
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.about__image {
  width: 200px;
  justify-self: center;
  align-self: center;
}

.about__image img {
  width: 100%;
  height: 100%;
  border-radius: calc(var(--pad-base) * 0.5);
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name, 
.about__info-title {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon, 
.skills__arrow {
  font-size: calc(var(--pad-base) * 2);
  color: var(--primary-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-light-color);
}

.skills__arrow {
  margin-left: auto;
  transition: var(--transitions);
}

.skills__list {
  row-gap: calc(var(--pad-base) * 1.5);
  padding-left: calc(var(--pad-base) * 2.7);
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: calc(var(--pad-base) * 0.3);
  border-radius: calc(var(--pad-base) * 0.25);
}

.skills__bar {
  background-color: var(--primary-lighter-color);
}

.skills__percentage {
  display: block;
  background-color: var(--primary-color);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 70%;
}

.skills__react {
  width: 90%;
}

.skills__php {
  width: 80%;
}

.skills__firebase {
  width: 70%;
}

.skills__python {
  width: 50%;
}

.skills__figma {
  width: 80%;
}

.skills__sketch {
  width: 90%;
}

.skills__photoshop {
  width: 70%;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}


.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}